* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desc {
    white-space: pre-line;
}

body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    padding-bottom: 50px; /* Agregado para evitar que el footer tape el contenido */
}

header {
    color: #305c46;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;  /* Asegurarse de que el padding no afecte el tamaño total */
    background-size: cover;  /* Para que el fondo se escale correctamente */
    background-position: center; /* Centra el fondo si es necesario */
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #dadada;
    border: 1px solid #7c9cb1;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    text-align: start;
}

.card p {
    margin: 5px 0;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden;    /* Opcional: evita que el texto se desborde */
    text-overflow: ellipsis; /* Opcional: agrega "..." si el texto es demasiado largo */
}

.titular {
    font-weight: bolder;
}

.card img {
    border-radius: 20px;
    max-width: 140px;
    box-sizing: border-box;
}

h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

footer {
    background-color: #305c46;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    header {
                background: #305c46;
        color: white;
    }

    h1 {
        font-size: 50px;
    }

    .card img {
        border-radius: 20px;
        max-width: 340px;
        width: 100%;
        height: auto;
    }

    #informacion {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
    }
}

@media only screen and (min-width: 769px) {
        header {
        background: #305c46;
        color: white;
    }

    h1 {
        font-size: 80px;
    }

    #informacion {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
    }

    .card img {
        border-radius: 20px;
        max-width: 740px;
        width: 100%;
        height: auto;
    }

    .card {
        margin: 20px; /* Aumentando el margen entre las tarjetas en pantallas más grandes */
    }
}