* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:green;
}

.menu ul {
    display: none;
}

.menu {
    background: green;
}

.menu img {
    width: 30px;
    height: 30px;
}

section {
    text-align: center;
    padding: 10px;
}

#hero {
    background-image: url('images/fondo.jpg');
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    flex-direction: column;
    object-fit: cover;
    font-family: 'Black Ops One';
}

h1 {
    font-size: 30px;
    margin:10px;
    text-transform:uppercase;
    letter-spacing: 2px
}

#hero p {
    font-size: 25px;
    justify-content: end;
    margin:5px;
    text-transform:uppercase;
    letter-spacing: 1px
}

.info {
    background-color: white;
    padding:10px;
    font-size:20px;
    border-radius:5px;
    border: 1px green solid;
    margin:10px;
    font-family: 'Black Ops One';
}

.info a {
    color:green;
    text-decoration: none;
    padding: 10px;
}

.info:hover {
    background: black;
    border:none;
}

.info a:hover {
    color:white;

}

ul {
    list-style: none;
}

#sobre {
    border: 1px green solid;
    margin:5px;
    border-radius: 5px;
}

#sobre p {
    margin: 5px;
}

h2, h3 {
    margin: 10px;
}

p {
    margin:5px;
}

#habilidades {
    color: white;
    background: green;
    padding:10px;
    font-size:20px;
    border-radius:5px;
    margin:10px;
}

#habilidades li {
    margin: 10px;
}

#proyecto {
    margin:10px;
}

.proyecto {
    border: 1px green solid;
    margin:5px;
    border-radius:5px;
}

.proyecto img {
    width:200px;
    height: 100px;
}

.proyecto:hover {
    background: green;
    color:white;
}

footer {
    background: green;
    color:white;
}

  .error-message {
    color: yellow;
    margin: 5px 0 10px 0;
    font-size: 0.9em;
  }

#contacto {
    background: green;
    color:white;
}

#contacto h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.nombre, .apellidos, .correo, .asunto, .mensaje, .enviar {
    margin:5px;
}

.enviar {
    background: white;
    color: green;
    padding:5px;
    font-size:15px;
    border-radius:5px;
    border: 1px green solid;
    margin:10px;
}

.enviar:hover {
        background: black;
        color: white;
	padding: 8px;
}

input {
    border-radius: 2px;
    color:green;
    border:none;
    margin: 5px;
}

textarea {
    border-radius: 2px;
    color: green;
    border: none;
    margin: 5px;
    min-height: 150px;
}

.menu ul.show {
    display: block;
  flex-direction: column;
  background-color: green;
  position: absolute;
  padding: 10px;
  width: max-content; /* ajusta el ancho al contenido */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.menu li:hover > ul {
  display: block; /* Muestra submenú al hover */
}

.menu li a {
    text-decoration: none;
    color:white;
}

.menu li a:hover {
    background: white;
    color: green;
    padding: 5px;
    border-radius: 3px;
}

.menu li ul li {
  padding: 5px 10px;
  white-space: nowrap; /* Para que no se partan en varias líneas */
}

.menu li ul li a {
text-decoration: none;
color:white;
}

.menu li ul li a:hover {
    background: white;
     color: green;
  border-radius: 3px;
  cursor: pointer;
  	    padding: 5px;
}

.menu ul li {
    padding: 10px 0;
}


@media all and (min-width: 768px) {
    .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .menu img {
        display: none;
    }

     .menu li a {
        font-size: 22px;
    }


    .menu li ul {
        display:none;
        position:absolute;
    }

    .menu li a:hover {
        background: white;
        color: green;
	    padding: 5px;
    }

    .menu li ul li {
        position:relative;
        background: green;
    }

    .menu li:hover > ul {
        display:block;
    }

    #hero {
        background-image: url('images/fondo.jpg');
        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        color:white;
        flex-direction: column;
        object-fit: cover;
        font-family: 'Black Ops One';
        height: 900px;
    }
    
    h1 {
        font-size: 60px;
        margin:15px;
        margin-bottom: 50px;
        text-transform:uppercase;
        letter-spacing: 2px
    }
    
    #hero p {
        font-size: 50px;
        justify-content: end;
        margin:15px;
        margin-bottom: 50px;
        text-transform:uppercase;
        letter-spacing: 1px
    }

    P {
        font-size: 20px;
    }

    .info {
        margin:15px;
        background-color: white;
        padding:10px;
        font-size:40px;
        border-radius:15x;
        border: 1px green solid;
        font-family: 'Black Ops One';
        
    }

    #sobre {
        display: flex;
    }

    #sobre p {
        margin:15px;
    }

    #sobre div {
        display: inline-block;
        width: calc(90%/2);
        margin: 10px;
    }

    h2 {
        font-size: 30px;
        margin:10px;
    }

    #habilidades ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #habilidades li {
        font-size: 20px;
    }

    #proyectos {
    margin: 10px;
    }

   #proyectos div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   } 

   .proyecto img {
    width: 350px;
    height: 200px;
}

   h3 {
    font-size: 26px;
   }

   footer {
    font-size: 20px;
    }

   .nombre, .apellidos, .correo, .asunto, .mensaje {
    min-width: 500px;
    min-height: 20px;
    }

    .mensaje {
    height: 400px;
    }

    .enviar {
        font-size: 20px;
    }

    input {
    width: 100px;
    }

    textarea {
    border-radius: 2px;
    color: green;
    border: none;
    }         
}